* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----HEADER----*/

.navbar > .container {
  justify-content: center;
}

.navbar-collapse {
  justify-content: center;
}

.container-fluid {
  background-color: #b900ff;
}

.nav-link {
  color: white;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}

.dropdown-item:hover {
  color: white;
  background-color: #b900ff;
}

