
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    border:  solid 1px black;
    margin: 3px;
    padding: 2px;
    color: black;
    margin-left: 20px;  
    
  }

.estilo{
    background-color: black;
    height: 300px;
}